/* Medium desktop :1201px. */

@media (min-width: 1200px) and (max-width: 1400px) {
.main-menu ul li {
	margin-left: 60px;
}
.single-brand a {
	margin-left: 90px;
}
}

/* Medium desktop :992px. */

@media (min-width: 992px) and (max-width: 1999px)  {
.main-menu ul li {
	margin-left: 25px;
}
.hire-btn a {
	padding: 7px 35px;
}
.single-slider {
	height: 120vh;
}
.features-area {
	margin-top: 0;
	padding: 30px 0;
}
.single-features p {
	font-size: 15px;
}
.about-area {
	padding: 70px 80px;
}
.subscribe-form input {
	margin-right: 5px;
}
.service-area {
	padding: 50px 0;
}
.service-area {
	padding-top: 50px;
	padding-bottom: 15px;
}
.service-wrapper{
	margin-bottom: 30px;
}
.blog-area {
	padding-top: 50px;
	padding-bottom: 90px;
}
.single-brand a {
	margin-left: 50px;
}
.footer-blog li {
	margin-bottom: 15px;
}
.news-thumb a img {
	height: 80px;
}
.news-title {
	padding-bottom: 20px;
}
.news-title h4 {
	margin-bottom: 15px;
	font-size: 20px;
}
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px)  {

	
	

}
	
	
	
/* smaill mobile : 320px. */

@media (max-width: 767px) {

	
		
}
	
	
	
/* Large mobile : 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width: 450px}
		
			
}