a{
	transition: .3s;
}
/* header-logo-area */
.header-area {
	background: rgb(221, 48, 48);
	padding: 0 55px;
}
.logo a img {
	width: 55%;
 } 

 /* heafder-btn */
.hire-btn {
	margin-top: 19px;
	margin-left: 55px;
}
.hire-btn a {
	color: white;
	text-decoration: none;
	padding: 12px 50px;
	border: 2px solid white;
	display: inline-block;
	border-radius: 30px;
	font-size: 25px;
	font-weight: 700;
	background: rgb(202, 135, 135);
	
}
.hire-btn > a:hover{background: #7171a5;}

/* menu-area */
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-menu{}
.main-menu ul{}
.main-menu ul li {
	display: inline-block;
	margin-left: 80px;
}
.main-menu ul li a {
	text-decoration: none;
	color: #f3d5d5;
	font-weight: 700;
	font-size: 16px;
	padding: 39px 0px;
	display: inline-block;
}


/* banner-area */


.banner-area{
    background-size: cover;
}










